@import 'login.css';
@import 'desk-manage.css';
@import 'order-list.css';
@import 'order-detail.css';
@import 'change-desk-num.css';

body {
    height: 100%;
    overflow: hidden;
    background: #f5f5f5;
}

* {
    outline: none;
    -webkit-appearance: none;
    -webkit-touch-callout:none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

#panel-menu {

}

#panel-menu .ui-li-divider {
    font-size: 12px;
    color: #666;
}

.clear {
    display: block;
    clear: both;
}

.cutline {
    display: block;
    height: 1px;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

.list-with-button {

}

.list-with-button li:first-child {
    border-top: 1px solid #eee;
}

.list-with-button li {
    display: block;
    padding: 0 1em;
    border-bottom: 1px solid #eee;
}

.list-with-button li p {
    float: left;
    font-size: 14px;
    line-height: 24px;
}

.list-with-button li a {
    width: 40px;
    height: 40px;
    border: none !important;
    float: right;
    margin-left: 2px !important;
}

.list-with-button .ui-btn-icon-notext::after, 
.list-with-button .ui-btn-icon-top::after, 
.list-with-button .ui-btn-icon-bottom::after {
    left: 50%;
    margin-left: -4px;
}

.list-click-edit {

}

.list-click-edit li a label, .list-click-edit li label {
    float: left;
    display: block;
    width: 30%;
    font-size: 12px;
    color: #666;
    padding: 10px 0;
}

.list-click-edit li input {
    text-align: right;
    font-size: 14px;
    margin-top: 6px;
}

.list-click-edit li a p {
    margin-left: 30%;
    overflow: hidden;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.list-click-edit li a p img {
    width: 80px;
    height: 80px;
}

.top-right-btn {
    width: 60px!important;
    height: 36px!important;
    padding: 0!important;
    font-size: 1em!important;
    text-align: right!important;
    line-height: 36px!important;
}

/*Select list style*/
.select-list-wrap {
    margin-top: 20px;
}

.select-list li.selected {
    background: url(../img/icon-svg/check.svg) 90% center no-repeat;
    background-size: 24px 24px;
}

/*The input filed and button in the same line.*/
.single-line-form {
    margin-top: 1em;
    padding: 0 1em;
    margin-bottom: 20px;
}

.single-line-form form label {
    font-size: 12px;
    color: #666;
}

.single-line-form form .ui-input-text {
    float: left;
    width: 70%;
    border: 1px solid #ccc;
    height: 34px;
    padding: 0px 12px;
}

.single-line-form form .ui-input-text input {
    font-size: 16px;
    line-height: 16px;
}

.single-line-form form button {
    float: right;
    width: 20%;
    margin: 0;
    position: relative;
}

/*Change content common style*/
.change-content-frame {
    margin-top: 10px;
    padding: 5px 1em;
}

.change-content-frame form label {
    font-size: 12px;
    color: #666;
    padding: 5px 0;
}

.change-content-frame form .ui-input-text {
    border: 1px solid #ccc;
    height: 34px;
    padding: 0px 12px;
}

/*Dished list*/
.dishes-list {

}

.dishes-list li {
    
}

.dishes-list li img.dish-img {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.dishes-list li div.dish-content-wrap {
    display: block;
    overflow: hidden;
}

.dishes-list li div.dish-content-wrap h4.dish-name {
    font-size: 14px;
}

.dishes-list li div.dish-content-wrap span.dish-desc {
    display: block;
    font-size: 12px;
    color: #666;
}

.dishes-list li div.dish-content-wrap p.dish-price {
    display: block;
    font-size: 16px;
    color: #ff0033;
}

.dishes-list li div.ctrl-wrap {
    display: block;
    height: 40px;
}

.dishes-list li div.ctrl-wrap .ui-btn-icon-notext::after, .dishes-list li div.ctrl-wrap .ui-btn-icon-top::after, .dishes-list li div.ctrl-wrap .ui-btn-icon-bottom::after {
    margin-left: -11px;
}
