@import 'edit-desk-num.css';
@import 'index-dish.css';
@import 'index-desk.css';
@import 'login.css';
@import 'index-order.css';
@import 'show-order.css';
@import 'index-waiter.css';


body {
    height: 100%;
    overflow: hidden;
    background: #f5f5f5;
}

* {
    outline: none;
    -webkit-appearance: none;
    -webkit-touch-callout:none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none !important;
}

#panel-menu {

}

#panel-menu .ui-li-divider {
    font-size: 12px;
    color: #666;
}

.clear {
    display: block;
    clear: both;
}

.cutline {
    display: block;
    height: 1px;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

.list-with-button {

}

.list-with-button li:first-child {
    border-top: 1px solid #eee;
}

.list-with-button li {
    display: block;
    padding: 0 1em;
    border-bottom: 1px solid #eee;
}

.list-with-button li p {
    float: left;
    font-size: 14px;
    line-height: 24px;
}

.list-with-button li a {
    width: 40px;
    height: 40px;
    border: none !important;
    float: right;
    margin-left: 2px !important;
}

.list-with-button .ui-btn-icon-notext::after, 
.list-with-button .ui-btn-icon-top::after, 
.list-with-button .ui-btn-icon-bottom::after {
    left: 50%;
    margin-left: -4px;
}

.list-click-edit {

}

.list-click-edit li a label, .list-click-edit li label {
    float: left;
    display: block;
    width: 30%;
    font-size: 12px;
    color: #666;
    padding: 10px 0;
}

.list-click-edit li input {
    text-align: right;
    font-size: 14px;
    margin-top: 6px;
}

.list-click-edit li a p {
    margin-left: 30%;
    overflow: hidden;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.list-click-edit li a p img {
    width: 80px;
    height: 80px;
}

.list-click-edit .ui-btn-icon-right {
    padding-right: 1em;
}

.list-click-edit .ui-btn-icon-right::after {
    display: none;
}

.top-right-btn {
    width: 60px!important;
    height: 36px!important;
    padding: 0!important;
    font-size: 1em!important;
    text-align: right!important;
    line-height: 36px!important;
}

.ui-btn-right.top-btn {
    font-size: 1em;
    line-height: 1em;
}

/*Select list style*/
.select-list-wrap {
    margin-top: 20px;
}

.select-list li.selected {
    background: url(../img/icon-svg/check.svg) 90% center no-repeat;
    background-size: 24px 24px;
}

/*The input filed and button in the same line.*/
.single-line-form {
    margin-top: 1em;
    padding: 0 1em;
    margin-bottom: 20px;
}

.single-line-form form label {
    font-size: 12px;
    color: #666;
}

.single-line-form form .ui-input-text {
    float: left;
    width: 70%;
    border: 1px solid #ccc;
    height: 34px;
    padding: 0px 12px;
}

.single-line-form form .ui-input-text input {
    font-size: 16px;
    line-height: 16px;
}

.single-line-form form button {
    float: right;
    width: 20%;
    margin: 0;
    position: relative;
}

/*Change content common style*/
.change-content-frame {
    margin-top: 10px;
    padding: 5px 1em;
}

.change-content-frame form label {
    font-size: 12px;
    color: #666;
    padding: 5px 0;
}

.change-content-frame form .ui-input-text, .change-content-frame form .ui-select {
    border: 1px solid #ccc;
    height: 36px;
    padding: 0px 12px;
}

.change-content-frame form .ui-input-text input {
    border: none;
}

.change-password-frame {

}

.change-password-frame li {
    
}

.change-password-frame li label {
    display: block;
}
/*Change content common style --- end*/

.bottom-line {
    position: fixed;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
}

.bottom-line a {
    padding: 0.6em 0;
}

.bottom-line a span {
    font-weight: bold;
}
