#change-number-frame label {
    font-size: 12px;
    color: #666;
    padding: 5px 0;
}

#change-number-frame .ui-input-text, #change-number-frame .ui-select {
    border: 1px solid #ccc;
    height: 34px;
    padding: 2px 12px;
}