/*Dished list*/
.dishes-list {

}

.dishes-list li {
    
}

.dishes-list li img.dish-img {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.dishes-list li div.dish-content-wrap {
    display: block;
    overflow: hidden;
}

.dishes-list li div.dish-content-wrap h4.dish-name {
    font-size: 14px;
}

.dishes-list li div.dish-content-wrap span.dish-desc {
    display: block;
    font-size: 12px;
    color: #666;
}

.dishes-list li div.dish-content-wrap p.dish-price {
    display: block;
    font-size: 16px;
    color: #ff0033;
}

.dishes-list li div.ctrl-wrap {
    display: block;
    height: 40px;
}

.dishes-list li div.ctrl-wrap .ui-btn-icon-notext::after, .dishes-list li div.ctrl-wrap .ui-btn-icon-top::after, .dishes-list li div.ctrl-wrap .ui-btn-icon-bottom::after {
    margin-left: -11px;
}