.waiter-list {

}

.waiter-list li .waiter-content {
    display: block;
}

.waiter-list li .waiter-content .content-line span.content-title {
    float: left;
    font-size: 14px;
    line-height: 24px;
    color: #999;
    padding-right: 8px;
}

.waiter-list li .waiter-content .content-line p {
    float: none;
    font-size: 14px;
    overflow: hidden;
}

.waiter-list li .ctrl-wrap {
    display: block;
    float: right;
}

.waiter-list li div.ctrl-wrap .ui-btn-icon-notext::after, .waiter-list li div.ctrl-wrap .ui-btn-icon-top::after, .waiter-list li div.ctrl-wrap .ui-btn-icon-bottom::after {
    margin-left: -11px;
}