/*Order Detail Page Style*/
.order-detail-page .order-detail-list {
    padding-top: 20px;
}

.order-detail-page .order-info-line {
    height: 25px;
    padding: 0 1rem;
}

.order-detail-page .order-info-line h4.desk-num {
    float: left;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

.order-detail-page .order-info-line h4.desk-num span {
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

.order-detail-page .order-info-line span {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    line-height: 25px;
}

.order-detail-page .order-info-line span.order-time {
    color: #666;
}

.order-detail-page .order-info-line span.order-new {
    color: #4a87ee;
}

.order-detail-page .order-content-line {
    height: 40px;
    padding: 0 0 0 1rem;
    overflow: hidden;
    color: #333;
}

.order-detail-page .order-content-line p.dishes-name {
    float: left;
    display: inline-block;
    width: 40%;
    height: 100%;
    font-size: 14px;
    line-height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.order-detail-page .order-content-line p.dishes-num {
    float: left;
    display: inline-block;
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.order-detail-page .order-content-line p.dishes-price {
    float: right;
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.order-detail-page .order-content-line .ctrl-wrap {
    float: right;
    display: inline-block;
    width: 50%;
    height: 40px;
}

.order-detail-page .order-content-line .two-buttons a {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px -1px 0 0;
    padding: 0;
}

.order-detail-page .order-content-line .change-number {
    display: none;
    width: 55%;
}

.order-detail-page .order-content-line .change-number a {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px -1px 0 0;
    padding: 0;
}

.order-detail-page .order-content-line .change-number p.change-dishes-num {
    float: right;
    display: inline-block;
    width: 41px;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.order-detail-page .order-content-line .del-item {
    display: none;
    width: 55%;
}

.order-detail-page .order-content-line .del-item a {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px -1px 0 0;
    padding: 0;
}

.order-detail-page .order-content-line .del-item p.del-msg {
    float: right;
    display: inline-block;
    width: 41px;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-size: 12px;
    color: #f18835;
}

.order-detail-page .finished-line {
    background: #ececec;
}

.order-detail-page .finished-line .two-buttons {
    display: none;
}

.order-detail-page .finished-line p {
    color: #666;
    text-decoration: line-through;
}

.order-detail-page .order-content-line span.finished-status {
    float: right;
    display: inline-block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.order-detail-page a.back-change-btn {
    font-size: 14px;
}

.order-detail-page p.order-total {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #ff0033;
    padding: 5px 1em;
}

.order-detail-page p.order-total span {
    font-weight: normal;
    color: #666;
    padding-right: 5px;
}

.order-detail-page .special-item-list span.order-title {
    font-size: 12px;
    color: #666;
}

.order-detail-page .special-item-list .change-number {
    display: block;
}