/*Order Detail Page Style*/
.order-detail-page .order-detail-list {
    padding-top: 20px;
}

.order-detail-page .order-info-line {
    height: 25px;
    padding: 0 1rem;
}

.order-detail-page .order-info-line h4.desk-num {
    float: left;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

.order-detail-page .order-info-line h4.desk-num span {
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

.order-detail-page .order-info-line span {
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    line-height: 25px;
}

.order-detail-page .order-info-line span.order-time {
    color: #666;
}

.order-detail-page .order-info-line span.order-new {
    color: #4a87ee;
}

.order-detail-page .order-content-line {
    height: 40px;
    padding: 0 0 0 1rem;
    overflow: hidden;
    color: #333;
}

.order-detail-page .order-content-line.finished-line {
    background: #f2f2f2;
}

.order-detail-page .order-info-line span.order-title {
    font-size: 0.8rem;
    color: #666;
}

.order-detail-page .order-content-line p.dishes-name {
    float: left;
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 1rem;
    line-height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.order-detail-page .order-content-line p.dishes-num-wrap {
    float: left;
    display: inline-block;
    width: 10%;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.order-detail-page .order-content-line p.dishes-price-wrap {
    float: right;
    display: inline-block;
    width: 35%;
    height: 100%;
    font-size: 1rem;
    text-align: right;
    line-height: 40px;
    overflow: hidden;
    margin: 0;
    padding-right: 15px;
}

.order-detail-page .order-content-line .ctrl-wrap {
    float: right;
    width: 50%;
    height: 40px;
}

.order-detail-page .order-content-line .change-number-item a {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px -1px 0 0;
    padding: 0;
}

.order-detail-page .order-content-line .ctrl-wrap p {
    float: right;
    display: inline-block;
    width: 41px;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 40px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.order-detail-page .order-content-line .del-item {
    width: 50%;
}

.order-detail-page .order-content-line .del-item p {
    font-size: 0.8rem;
}

.order-detail-page .order-content-line .del-item a {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px -1px 0 0;
    padding: 0;
}

.order-detail-page a.back-change-btn {
    font-size: 14px;
}

.order-detail-page p.order-total {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: #ff0033;
    padding: 0 1em;
}

.order-detail-page p.order-total span {
    font-weight: normal;
    color: #666;
    padding-right: 5px;
}

.order-detail-page .order-content-line .finished-item {

}

.order-detail-page .order-content-line .finished-item p {
    color: #666;
    text-decoration: line-through;
}

.order-detail-page .order-content-line .finished-item p:first-child {
    float: left;
}

